.card {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    box-shadow: grey 1px 2px 3px;
    cursor: pointer;
    user-select: none;
}
.card img{
    border-radius: 36px;
    width: 72px;
    height: 72px;
}
.card span{
    margin-left: 20px;
}
.draggable {
    background: white;
    transition: all 0.3s ease;
  }
.draggable-bar{
    padding: 10px 0;
}